<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.washer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Washer">
        <activity android:name=".ChooseTemperatureActivity"
            android:parentActivityName=".ChooseProgramActivity" />
        <activity android:name=".ChooseSpeedActivity"
            android:parentActivityName=".ChooseTemperatureActivity"/>
        <activity android:name=".ChooseProgramActivity"
            android:parentActivityName=".ChooseWasherActivity"/>
        <activity android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditWasherActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ChooseWasherActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AddFriendlyNameActivity"
            android:parentActivityName=".AddFriendlyNameActivity"/>
        <activity android:name=".VerificationActivity"
            android:parentActivityName=".ChooseSpeedActivity"/>
        <activity android:name=".WashActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AppSettingsActivity"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>
